## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bst
*.gz
*.cls
*.pl
*.bib
*.jpg
*.fdb_latexmk
*.txt
*.synctex(busy)
*.ms10 (Security copy)